nav{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
  font-size: 35px;
  font-style: oblique;
  
    left: 100px;
    padding-left: 50px;
    position: fixed;
    width: 80%;
    height: 10%;
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;/*not sticky*/
    top: 20px;
    right: 5px;
}
nav>a{
    color:yellow;
    text-decoration-style: wavy;
}
footer p{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0); 
    border-top: 2px solid white;
   position:absolute;
    height: 100px;
    bottom: 0px;
    margin:0;
}
a:hover{
    color:blue;
    text-decoration: underline;
}
body{
    background-color: rgb(0, 0, 0);
}

h1{
    font-size: 60px;
    color: rgb(248, 248, 250);

    padding-top:180px ;
    text-decoration: none;
}
div>a
{
    color: rgb(209, 45, 86);
}
div{
    font-size: large;
}
